{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="login-box">

        <form method="post">
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="user-box">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required="" autocomplete="email" autofocus>
                <label>Email</label>
            </div>

            <div class="user-box">
                <input type="password" name="password" id="inputPassword" required="" autocomplete="current-password">
                <label>Password</label>
            </div>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <center>
                <button type="submit">
                    Se Connecter
                    <span></span>
                </button>
            </center>
        </form>
    </div>
{% endblock %}
