{% extends 'base.html.twig' %}

{% block body %}

    <div class="flex justify-center items-center min-h-screen px-4 sm:px-0">
        <div class="relative">
            <div class="darkModeBlueShadow absolute inset-0 transform translate-x-4 -translate-y-16 bg-white rounded-xl shadow-lg"></div>
            <div class="darkModeBlueShadow absolute inset-0 transform translate-x-2 -translate-y-16 bg-white rounded-xl shadow-lg"></div>

            <div class="darkModeBlue -translate-y-16 card w-full sm:w-[420px] p-4 bg-white rounded-xl shadow-lg transition duration-500 ease-in-out transform hover:scale-105 z-10 min-h-[600px] max-h-[600px]">
                <div id="see-more-button">
                    <img id="movie-image" class="w-full h-96 rounded-t-xl object-cover object-center mb-[-4px]" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                </div>

                <!-- Content -->
                <div class="p-4 pt-6">
                    <div class="flex justify-between items-center">
                        <h1 id="movie-title" class="darkModeTextWhite text-2xl font-semibold mb-1 text-gray-800 text-center w-full">
                            {{ movie.title }}
                        </h1>
                    </div>
                    <div class="h-px bg-gray-300 my-4 mx-2"></div>
                    <!-- Actions -->
                    <div class="flex justify-center mt-2">
                        <button id="dislike-button" class="text-2xl p-2 rounded-full bg-gray-200 hover:bg-gray-300 transition duration-300 ease-in-out mx-2">
                            👎
                        </button>
                        <button id="like-button" class="text-2xl p-2 rounded-full bg-gray-200 hover:bg-gray-300 transition duration-300 ease-in-out mx-2">
                            ❤️
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="details-modal" class="fixed inset-0 flex items-center justify-center z-50 hidden opacity-0 transition-opacity duration-300 ease-in-out">
        <div class="bg-black bg-opacity-50 absolute inset-0"></div>
        <div class="darkThemeBlueWhite bg-white p-8 rounded-lg w-full max-w-md z-10 relative shadow-lg transition-transform transform duration-300 ease-in-out scale-95">
            <h1 id="details-title" class="darkModeTextWhite text-3xl mb-4 font-semibold text-gray-800 text-center w-full"></h1>
            <div id="movie-categories" class="flex flex-wrap justify-center mt-3">
                {% for genre_id in movie.genre_ids %}
                    <span class="text-white text-sm font-semibold py-1 px-2 mr-2 mb-2 rounded-full modal-buton">
                        {{ genres[genre_id] }}
                    </span>
                {% endfor %}
            </div>
            <div id="details-release-date" class="darkModeTextWhite text-lg mb-2 text-gray-700 text-center"></div>
            <div class="h-px bg-gray-300 my-4 mx-2"></div>
            <div id="details-description" class="darkModeTextWhite text-base mb-4 text-gray-600"></div>
            <div class="flex justify-center items-center">
                <iframe id="details-trailer" class="hidden w-full h-[calc(100%-8)] m-4" frameborder="0" allowfullscreen></iframe>
            </div>
            <button id="close-details-modal" class="modal-buton mt-6 text-white px-6 py-2 rounded-lg transition duration-200 ease-in-out text-center w-full">
                Fermer
            </button>
        </div>
    </div>

    <div id="login-modal" class="fixed inset-0 flex items-center justify-center z-50 hidden opacity-0 transition-opacity duration-300 ease-in-out">
        <div class="bg-black bg-opacity-50 absolute inset-0"></div>
        <div class="bg-white p-6 rounded-lg w-full max-w-md z-10 relative shadow-lg">
            <h1 class="text-2xl mb-4 font-semibold">Information</h1>
            <p class="text-gray-700">Vous devez être connecté pour pouvoir commencer à Liker</p>
            <div class="mt-6 flex justify-end space-x-4">
                <a href="{{ path('app_login') }}" class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-lg transition duration-200 ease-in-out">
                    Se connecter
                </a>
                <button id="close-modal" class="bg-gray-300 hover:bg-gray-400 text-black px-6 py-2 rounded-lg transition duration-200 ease-in-out">
                    Fermer
                </button>
            </div>
        </div>
    </div>

    <div id="match-modal" class="fixed inset-0 flex items-center justify-center z-50 hidden opacity-0 transition-opacity duration-300 ease-in-out">
        <div class="bg-black bg-opacity-50 absolute inset-0"></div>
        <div class="bg-white p-6 rounded-lg w-full max-w-md z-10 relative shadow-lg">
            <h1 class="text-gray-700 text-2xl mb-4 font-semibold">
                <i class="fas fa-heart text-red-500"></i> C'est un match !
            </h1>
            <div class="confetti" style="--color: red; animation-duration: 1s; animation-delay: 0s;"></div>
            <div class="confetti" style="--color: blue; animation-duration: 1.5s; animation-delay: 0.5s;"></div>
            <div class="confetti" style="--color: green; animation-duration: 1.2s; animation-delay: 0.2s;"></div>
            <!-- Ajoutez autant de confettis que vous le souhaitez -->
            <p class="text-gray-700">Vous et [Noms des utilisateurs] avez tous les deux aimé ce film !</p>
            <div class="mt-6 flex justify-end space-x-4">
                <button id="close-match-modal" class="bg-gray-300 hover:bg-gray-400 text-black px-6 py-2 rounded-lg transition duration-200 ease-in-out">
                    Fermer
                </button>
            </div>
        </div>
        <canvas id="confetti-canvas"></canvas>
    </div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const likeButton = document.querySelector('#like-button');
            const dislikeButton = document.querySelector('#dislike-button');
            const card = document.querySelector('.card');
            let movieId = {{ movie.id }};
            let nextMovie = null;
            let userIsLoggedIn = {{ userIsLoggedIn ? 'true' : 'false' }};

            fetchNextMovie();

                const canvas = document.querySelector('#confetti-canvas');
                function showConfetti(){
                var myConfetti = confetti.create(canvas, {
                resize: true,
                useWorker: true
            });
                myConfetti({
                particleCount: 100,
                spread: 160
            });
            }

            likeButton.addEventListener('click', function(event) {
                event.preventDefault();
                if (userIsLoggedIn) {
                    handleAction('like', movieId);
                } else {
                    showLoginModal();
                }
            });

            dislikeButton.addEventListener('click', function(event) {
                event.preventDefault();
                if (userIsLoggedIn) {
                    handleAction('dislike', movieId);
                } else {
                    showLoginModal();
                }
            });

            document.querySelector('#close-modal').addEventListener('click', function() {
                hideLoginModal();
            });

            document.querySelector('#close-match-modal').addEventListener('click', function() {
                hideMatchModal();
            });

            function showLoginModal() {
                const loginModal = document.querySelector('#login-modal');
                loginModal.classList.remove('hidden');
                setTimeout(() => {
                    loginModal.style.opacity = "1";
                }, 10);
            }

            function hideLoginModal() {
                const loginModal = document.querySelector('#login-modal');
                loginModal.style.opacity = "0";
                setTimeout(() => {
                    loginModal.classList.add('hidden');
                }, 300);
            }

            function showMatchModal(matchedUsers) {
                const matchModal = document.querySelector('#match-modal');
                const matchText = `Vous et ${matchedUsers.join(', ')} avez tous les deux aimé ce film !`;
                matchModal.querySelector('p').textContent = matchText;
                matchModal.classList.remove('hidden');
                setTimeout(() => {
                    matchModal.style.opacity = "1";
                }, 10);
                showConfetti();
            }

            function hideMatchModal() {
                const matchModal = document.querySelector('#match-modal');
                matchModal.style.opacity = "0";
                setTimeout(() => {
                    matchModal.classList.add('hidden');
                }, 300);
            }

            function handleAction(type, movieId) {
                card.classList.add(type === 'like' ? 'swipe-right' : 'swipe-left');
                card.addEventListener('animationend', function() {
                    card.classList.remove('swipe-right', 'swipe-left');

                    fetch(`/action_movie/${type}/${movieId}`, {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === 'success') {
                                if (data.matched_users && data.matched_users.length > 0) {
                                    showMatchModal(data.matched_users);
                                }
                                return fetchNextMovie();
                            }
                        })
                        .then(() => {
                            if (nextMovie) {
                                updateCard(nextMovie);
                            }
                        });
                }, {once: true});
            }

            function fetchNextMovie(retryCount = 0) {
                const MAX_RETRIES = 15;

                return new Promise((resolve, reject) => {
                    if (retryCount >= MAX_RETRIES) {
                        reject('Maximum retries reached');
                        return;
                    }

                    fetch('/random_movie', {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                    })
                        .then(response => response.json())
                        .then(data => {
                            nextMovie = data.next_movie;
                            resolve();
                        });
                });
            }

            function updateCard(movie) {
                const genres = {{ genres|json_encode|raw }};
                document.querySelector('#movie-title').textContent = movie.title;
                document.querySelector('#movie-image').src = `https://image.tmdb.org/t/p/w500${movie.poster_path}`;
                movieId = movie.id;

                const genreContainer = document.querySelector('#movie-categories');
                genreContainer.innerHTML = '';
                movie.genre_ids.forEach(genre_id => {
                    const genreName = genres[genre_id];
                    const genreSpan = document.createElement('span');
                    genreSpan.className = 'text-white text-sm font-semibold py-1 px-2 mr-2 mb-2 rounded-full modal-buton';
                    genreSpan.textContent = genreName;
                    genreContainer.appendChild(genreSpan);
                });
            }

            document.querySelector('#see-more-button').addEventListener('click', function() {
                fetch(`/movie_details/${movieId}`, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        const movieDetails = data.movie_details;
                        const movieVideos = data.movie_videos.results;
                        const youtubeTrailer = movieVideos.find(video => video.site === 'YouTube' && video.type === 'Trailer');

                        if (youtubeTrailer) {
                            const trailerEmbed = document.querySelector('#details-trailer');
                            trailerEmbed.src = `https://www.youtube.com/embed/${youtubeTrailer.key}`;
                            trailerEmbed.classList.remove('hidden');
                        }

                        showDetailsModal(movieDetails);
                    });
            });

            function showDetailsModal(movie) {
                const detailsModal = document.querySelector('#details-modal');
                document.querySelector('#details-title').textContent = movie.title;
                document.querySelector('#details-release-date').textContent = "Date de sortie : " + movie.release_date;
                document.querySelector('#details-description').textContent = movie.overview;

                detailsModal.classList.remove('hidden');
                setTimeout(() => {
                    detailsModal.style.opacity = "1";
                }, 10);
            }

            function hideDetailsModal() {
                const detailsModal = document.querySelector('#details-modal');
                detailsModal.style.opacity = "0";
                setTimeout(() => {
                    detailsModal.classList.add('hidden');
                }, 300);
            }

            document.querySelector('#see-more-button').addEventListener('click', function() {
                fetch(`/movie_details/${movieId}`, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        const movieDetails = data.movie_details;
                        showDetailsModal(movieDetails);
                    });
            });

            document.querySelector('#close-details-modal').addEventListener('click', function() {
                hideDetailsModal();
            });
        });
    </script>

{% endblock %}
