{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.username }}{% endblock %}

{% block body %}
    <div class="container mx-auto p-4">
        <!-- Profile Header -->
        <div class="p-4 rounded-lg shadow-lg flex flex-col md:flex-row items-center mb-4">
            <!-- User Info -->
            <div class="flex flex-col items-center mb-4 md:mb-0 md:flex-row">
                <img class="imgBorder h-24 w-24 rounded-full border-4 border-white" src="{{ user.profileImage }}" alt="User Image">
                <div class="text-center md:text-left ml-0 md:ml-4">
                    <h1 class="text-2xl font-bold">{{ user.username }}</h1>
                    <p>25, New York</p>
                </div>
            </div>

            <!-- Stats and Actions -->
            <!-- Stats and Actions -->
            <div class="myCard ml-0 md:ml-auto mt-4 md:mt-0">
                <div class="innerCard">
                    <div class="frontSide">
                        <p class="title">Mes Stats</p>
                        <p>Check ça</p>
                    </div>
                    <div class="backSide">
                        <p class="title">Films</p>
                        <p>{{ numberOfLikedMovies }}</p>
                        <p class="title">Séries</p>
                        <p>{{ numberOfLikedSeries }}</p>
                        <p class="title">Amis</p>
                        <p>{{ numberOfFriends }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <!-- Last liked movie -->
            <div class="p-4 rounded-lg shadow-2xl hover:shadow-none transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 flex flex-col items-center justify-center">
                <h3 class="text-xl font-semibold mb-4 text-center">Dernier film aimé</h3>
                {% if lastLikedMovie is defined and lastLikedMovie is not empty %}
                    <img src="https://image.tmdb.org/t/p/w300{{ lastLikedMovie.posterPath }}" alt="{{ lastLikedMovie.title }}" class="rounded mb-2">
                    <p class="text-center">{{ lastLikedMovie.title }}</p>
                {% else %}
                    <p class="text-center">Aucun film aimé pour le moment.</p>
                {% endif %}
                <button class="bg-blue-500 text-white p-2 rounded-lg mt-4 hover:bg-blue-600 transition duration-200">Voir plus</button>
            </div>

            <!-- Last liked series -->
            <div class="p-4 rounded-lg shadow-2xl hover:shadow-none transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 flex flex-col items-center justify-center">
                <h3 class="text-xl font-semibold mb-4 text-center">Dernière série aimée</h3>
                {% if lastLikedSerie is defined and lastLikedSerie is not empty %}
                    <img src="https://image.tmdb.org/t/p/w300{{ lastLikedSerie.posterPath }}" alt="{{ lastLikedSerie.title }}" class="rounded mb-2">
                    <p class="text-center">{{ lastLikedSerie.title }}</p>
                {% else %}
                    <p class="text-center">Aucune série aimée pour le moment.</p>
                {% endif %}
                <button class="bg-blue-500 text-white p-2 rounded-lg mt-4 hover:bg-blue-600 transition duration-200">Voir plus</button>
            </div>

            <div class="p-4 rounded-lg shadow-2xl transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 flex flex-col items-center justify-center">
                <h3 class="text-xl font-semibold mb-4 text-center">Mes matches avec {{ user.username }}</h3>

                {% for match in matchesWithUser %}
                    <div class="mb-4 p-2 rubanFilm w-full rounded-lg">
                        <div class="flex items-center">
                            <span class="text-xl mr-2">{{ user.username }}</span>
                            <i class="fas fa-heart text-red-500"></i>
                        </div>
                        <div class="ml-4 mt-2 p-1 rounded-full inline-flex items-center">
                            {% if match.type == 'movie' %}
                                <img src="https://image.tmdb.org/t/p/w500{{ match.data.posterPath }}" alt="{{ match.data.title }}" class="rounded mb-2 w-16 h-16 object-cover">
                                <span class="text-sm ml-2">{{ match.data.title }}</span>
                            {% elseif match.type == 'serie' %}
                                <img src="https://image.tmdb.org/t/p/w500{{ match.data.posterPath }}" alt="{{ match.data.title }}" class="rounded mb-2 w-16 h-16 object-cover">
                                <span class="text-sm ml-2">{{ match.data.title }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <a href="{{ path('app_user_match', {'id': user.id}) }}" class="mybutton p-2 rounded-lg mt-4 hover:bg-blue-600 transition duration-200">Voir plus</a>
            </div>
        </div>
    </div>
{% endblock %}
